body{
    text-align: center;
}

#apps{
    background-color: blanchedalmond;
}

#Games{
    background-color: cadetblue;
}

#chatbot{
    background-color: chocolate;
}

#Contact{
    background-color: aquamarine;
    
    
}